@import url('./reset.css');
@import url('./tabs.css');
@import url('./data-tabs.css');
@import url('./button.css');
@import url('./badge.css');
@import url('./list.css');
@import url('./contacts-list.css');
@import url('./slider.css');
@import url('./form.css');
@import url('./popup.css');
@import url('./utils.css');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--white);
  color: var(--black);

  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: 'wdth' 100;

  /* VARIABLES */
  --black: #131415;
  --white: #ffffff;
  --red: #f3293b;
  --light-blue: #eff8ff;
  --brand-blue: #0e90de;
  --brand-blue-alpha: rgba(14, 144, 222, 0.16);
  --main-gradient: linear-gradient(
    78.33deg,
    rgba(215, 69, 150, 1) 0.009999999747378752%,
    rgba(242, 70, 78, 1) 36.587658524513245%,
    rgba(133, 122, 221, 1) 68.57713460922241%,
    rgba(1, 146, 222, 1) 100%
  );
  --red-gradient: linear-gradient(
    180deg,
    rgba(237, 1, 137, 1) 0.009999999747378752%,
    rgba(243, 41, 59, 1) 100%
  );

  /* ANIMATIONS */
  --animation-duration-fast: 0.15s;
  --animation-duration-normal: 0.3s;
  --animation-duration-slow: 0.5s;
  --animation-timing-function-ease: ease;
  --animation-timing-function-ease-in-out: ease-in-out;
  --animation-default: var(--animation-duration-normal)
    var(--animation-timing-function-ease);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem clamp(1rem, 5vw, 3rem);
}

body > * {
  --layout-spacing: max(3.8125rem, 3rem);
  --max-width: 1920px;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

body.popup-open {
  overflow: hidden;
}

main {
  margin-top: 2.75rem;
}

footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

footer p {
  border-top: 1px solid #ccc;
  padding-top: 0.25em;
  font-size: 0.9rem;
  color: var(--black);
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

article * + * {
  margin-top: 1em;
}

a {
  color: navy;
  text-underline-offset: 0.15em;
}

.title {
  font-size: 56px;
  font-weight: 800;
  line-height: 62px;
}

.section {
  &:nth-child(1) {
    margin-bottom: 3rem;

    & .col {
      &:first-child {
        /* max-width: 58.25rem; */
      }

      &:last-child {
        max-width: 44.25rem;
      }
    }
  }
}

.control {
  position: relative;
  display: flex;
  place-content: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 1px;
    background: var(--main-gradient);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    transition: padding 0.3s;
  }
}

.text {
  font-size: 1.25rem;
  line-height: 2rem;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 7.5rem;

  & .text {
    width: 40.82375rem;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 6rem 5rem;
  background-color: var(--light-blue);

  & .col {
    &:first-child {
      width: 30.625rem;
      padding-top: 2.9375rem;
    }

    &:last-child {
      flex-grow: 1;
      max-width: 68.125rem;
      overflow: hidden;
    }
  }

  .title {
    margin-bottom: 2.9375rem;
  }
}
